body {
    padding: 0;
    margin: 0;
}

#menu {
    width: 100%;
}

#contentWrapper {
    height: 100%;
    width: 100%;
}

.width100 {
    width: 100%;
}

.display-none {
    visibility: hidden;
    display: none;
}

.display-show {
    visibility: visible;
    display: block;
}

.styled-panel-body td {
    font-size: 14px;
}

.styled-panel-buttons {
    float: right;
}

.gwt-DialogBox .styled-panel-buttons {
    float: right;
    position: relative;
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 0;
}

.content-panel td{
    vertical-align:top;
}

.options-button {
    width:45px;
    height:45px;
    
    margin-top:5px;
    margin-right:5px;
    
    border-radius:10px;
    background: #ebebeb url(CBGStudio/gwt/chrome/images/hborder.png) repeat-x 0px -2003px;
    border: 1px solid #BBBBBB;
    
    color:#666666;
}